.banderole {
    width: 315px;
    height: 100%;
    margin-left: 11%;
    z-index: 10;
}

.accueil{
    gap: 1%;
    height: 75px;
    display: flex;
    align-items: center;
}

.accueil .maison{
    width: 22px;
    position: relative;
    bottom: 1px;
}

.accueil .fleche{
    width: 14px;
}

.lien-banderole{
    font-size: 21px;
    color: #B6A886;
    text-decoration: none;
}

.lien-acces{
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.acces-rapide{
    height: 105px;
}

.acces-rapide h1{
    font-size: 24px;
    color: #B6A886;
    font-weight: 400;
}

.contenant-liste-acces{
    margin-left: 2px;
    margin-top: 15px;
    list-style: none;
    display: grid;
    height: 60px;
    align-items: center;
}

.liste-acces{
    font-size: 17px;
    display: flex;
    gap: 2%;
    align-items: center;
}

.fleche-acces{
    width: 12px;
}

.infos{
    margin-top: 40px;
    height: 170px;
}

.infos h2{
    height: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #B6A886;
}

.contenant-liste-infos{
    margin: 20px 2px;
    list-style: none;
    display: grid;
    height: 115px;
    align-items: center;
}

.liste-infos{
    font-size: 18px;
    display: inline-block;
}

.liste-infos img{
    margin-right: 5px;
}

.infos span{
    color: #1B3168;
}

.num{
    text-decoration: none;
    color: #1B3168;
}

.partenaires{
    margin-top: 20px;
}

.partenaires h3{
    font-size: 24px;
    font-weight: 400;
    color: #B6A886;
}

.contenant-slider{
    height: 235px;
    width: 100%;
    background: rgba(27, 49, 104, 0.1);
    margin-top: 15px;
}

.slider{
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
    gap: 6%;
    justify-content: center;
    align-items: center;
}

.fleche-gauche{
    width: 30px;
    z-index: 100;
}

.fleche-gauche img{
    transform: rotate(180deg);
    width: 100%;
    cursor: pointer;
}

.fleche-droite{
    z-index: 100;
    width: 30px;
}

.fleche-droite img{
    width: 100%;
    cursor: pointer;
}


.contenant-image-slider{
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    width: 185px;
    height: 185px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade-in 5s 1 forwards;
  }
  
  .leonidas1 {
    animation-delay: 0.1s;
  }
  
  .leonidas2 {
    animation-delay: 0.1s;
  }
  
  .leonidas3 {
    animation-delay: 0.1s;
  }
  
  @keyframes fade-in{
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
.cont-btn{
    display: flex;
    height: 30px;
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.btn-nav{
    border-radius: 100%;
    height: 40%;
    width: 4%;
    background-color: #C4C4C4;
    cursor: pointer;
}

.btn-nav.active {
    background-color: black;
  }
  
  .btn-nav.inactive {
    background-color: #C4C4C4;
  }

.liens-partenaires{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    margin-top: 10px;
}

/* ////////////FRIN DE LA BANDEROLE A GAUCHE//////////// */

.fleche-banderole{
    display: none;
}

@media screen and (max-width: 1350px) {
    .banderole{
        margin-left: 1%;
    }
}


@media screen and (max-width:992px ) {
    .banderole{
        display: none;
    }
    .fleche-banderole {
        height: 50px;
        width: 50px;
        display: block;
        position: absolute;
        top: 66px;
        cursor: pointer;
      }
      
    .banderole.afficher {
        display: block;
    }
    .all{
        display: flex;
        flex-direction: column;
    }
}