*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.all{
    display: flex;
}

main{
    min-height: 80vh;
}


.modal {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
  
  /* Modal Content/Box */
  .modal-content {
    flex-direction: column;
    display: flex;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 40%;
    border-radius: 5px;
    height: 650px;
}

.modal-content .btn-nav {
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: #C4C4C4;
    cursor: pointer;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 98%;
    width: 0%;
    bottom: 15px;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.header-modal{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header-modal h1{
    font-size: 30px;
    color: #1B3168;
}

.header-modal p{
    font-size: 18px;
    margin: 10px;
}

.body-modal{
    overflow: auto;
    margin: 30px 0;
}

.body-modal p{
    font-size: 18px;
    padding: 0 20px;
}

.footer-modal{
    display: flex;
    justify-content: center;
}

.lien-offre{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #1B3168;
    height: 50px;
    width: 170px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color ease-in-out 0.2s;
}

.lien-offre:hover{
    background-color: #B6A886;
}

.contenant-slider2{
    height: 245px;
    width: 100%;
    background: rgba(27, 49, 104, 0.1);
    margin-top: 15px;
}

.slider2{
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
    gap: 6%;
    justify-content: center;
    align-items: center;
}

.fleche-gauche2{
    width: 30px;
    z-index: 100;
}

.fleche-gauche2 img{
    transform: rotate(180deg);
    width: 100%;
    cursor: pointer;
}

.fleche-droite2{
    z-index: 100;
    width: 30px;
}

.fleche-droite2 img{
    width: 100%;
    cursor: pointer;
}


.contenant-image-slider2{
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    width: 185px;
    height: 185px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide-image2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade-in 5s 1 forwards;
  }
  
  .leonidas1 {
    animation-delay: 0.1s;
  }
  
  .leonidas2 {
    animation-delay: 0.1s;
  }
  
  .leonidas3 {
    animation-delay: 0.1s;
  }
  
  @keyframes fade-in{
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
.cont-btn2{
    display: flex;
    height: 30px;
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.btn-nav2{
    border-radius: 100%;
    height: 13px;
    width: 13px;
    background-color: #C4C4C4;
    cursor: pointer;
}

.btn-nav2.active {
    background-color: black;
  }
  
  .btn-nav2.inactive {
    background-color: #C4C4C4;
  }

@media screen and (max-width: 1211px) {
    .contenant-slider2 {
        height: 280px;
        width: 100%;
        background: rgba(27, 49, 104, 0.1);
        margin-top: 15px;
    }
    .modal-content{
        width: 50%;
        margin: 4% auto;
    }
}

@media screen and (max-width: 900px) {
    .modal-content{
        width: 70%; 
        margin: 5% auto;
    }
}

@media screen and (max-width: 650px) {
    .contenant-slider2.contenant-slider2{
        height: 240px;
        width: 100%;
        margin-top: 15px;
        background-color: white;
    }
    .modal-content {
        width: 80%;
        margin: 7% auto;
    }
}

@media screen and (max-width: 500px) {
    .modal-content {
        width: 88%;
        margin: 9% auto;
        height: 560px;
    }
}

#billetterie{
    background-color: #B6A886;
}

/* PARTIE MILIEUX DROITE OFFRES */

.offres {
    margin-top: 100px;
    width: 63%;
    position: relative;
    left: 3%;
}

.contenant-offres{
    height: 100%;
    width: 100%;
}

.offres .contenant-offres h5{
    display: flex;
    justify-content: center;
    color: #000000;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 30px;
}

.cases-offres{
    margin-top: 25px;
    padding: 0 20px;
    height: 220px;
    width: 100%;
    background: #EFEDED;
    display: grid;
}

.ligne{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rectangle-offre{
    align-items: center;
    display: flex;
    width: 20%;
    justify-content: center;
    background: #1B3168;
    color: white;
    border-radius: 7px;
}

.cases-offres .ligne .rectangle-offre p{
    padding: 5px 10px;
    font-size: 14px;
}

.date{
    font-size: 17px ;
    margin-left: 10px;
}

.texte-offre p{
    font-size: 18px;
}

.savoir-plus{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 50%;
}

.savoir-plus a{
    margin-right: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.savoir-plus a img{
    margin-left: 5px;
    width: 16px;
}

/* //////////// FIN CONTENANT OFFRE ///////  */

@media screen and (max-width:992px ) {
    .offres {
        margin-top: 100px;
        width: 80%;
        position: relative;
        left: 12%;
    }
}

@media screen and (max-width:600px ) {
    .offres {
        width: 90%;
        position: relative;
        left: 5%;
    }

    .contenant-offres {
        margin-top: 0px;
        height: 100%;
        width: 100%;
    }

    .cse {
        padding: 0 20px;
        height: 200px;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
    }

    .cases-offres {
        margin-top: 25px;
        padding: 0 20px;
        height: 250px;
        width: 100%;
        background: #EFEDED;
        display: grid;
    }
}

@media screen and (max-width: 450px) {
    .cse{
        height: 250px;
    }
    .cases-offres{
        height: 300px;
    }
}

@media screen and (max-width:320px ) {
    .offres {
        margin-top: 150px;
        height: 1030px;
        width: 95%;
        position: relative;
        left: 1%;
    }
}