*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}


.all{
    display: flex;
}

main{
    min-height: 80vh;
}

/* ////////////DEBUT NAVBAR //////////// */

#contact{
    background-color: #B6A886;
}

/* PARTIE MILIEUX DROITE CONTACT */

.contact{
    margin-top: 100px;
    width: 63%;
    position: relative;
    left: 3%;
}

.contact .contenant-contact h1{
    color: #1B3168;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenant-formulaire{
    display: flex;
    justify-content: center;
}

form{
    gap: 5%;
    margin-top: 100px;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}

form input{
    font-size: 16px;
    border: solid 2px #1B3168;
    box-sizing: border-box;
    width: 47%;
    margin: 20px 0;
    padding: 9px 10px;
    border-radius: 5px;
    outline-color: #B6A886;
}

form select{
    font-size: 16px;
    border: solid 2px #1B3168;
    box-sizing: border-box;
    width: 47%;
    margin: 20px 0;
    padding: 9px 10px;
    border-radius: 5px;
    outline-color: #B6A886;
}

form textarea{
    font-size: 16px;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 10px 10px;
    height: 120px;
    width: 100%;
    resize: none;
    border: 2px solid #1B3168;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    outline-color: #B6A886;
}

button{
    margin: 20px auto;
    border: 2px solid #1B3168;
    height: 45px;
    width: 130px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #1B3168;
    font-size: 16px;
    font-weight: bold;
    transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s;
}

button:hover{
    color: #1B3168;
    background-color: #fff;
    border: 2px #1B3168 solid;
}

@media screen and (max-width: 992px) {
    .contact {
        margin-top: 110px;
        width: 100%;
        position: relative;
        left: 0%;
    }
    form input {
        border: solid 2px #1B3168;
        box-sizing: border-box;
        width: 100%;
        margin: 20px 0;
        padding: 9px 10;
        border-radius: 5px;
        outline-color: #B6A886;
    }
}


@media screen and (max-width: 650px) {
    form {
        gap: 5%;
        margin-top: 100px;
        display: flex;
        width: 80%;
        flex-direction: column;
    }
}


/* //////////// FIN CONTENANT CONTACT ///////  */