*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

main{
    min-height: 80vh;
}

.all{
    display: flex;
}

@media screen and (max-width: 700px){
    .all{
        display: flex;
        flex-direction: column;
    }
    .carre-partenaire{
        margin: 20px 0px;
    }
}



.modal {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
  
  /* Modal Content/Box */
  .modal-content {
    flex-direction: column;
    display: flex;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 40%;
    border-radius: 5px;
    height: 650px;
}

.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 98%;
    width: 0%;
    bottom: 15px;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.header-modal h3{
    font-size: 36px;
    color: #1B3168;
    display: flex;
    justify-content: center;
}

.header-modal p{
    font-size: 18px;
    margin: 10px;
}

.body-modal{
    overflow: auto;
    margin: 30px 0;
}

.body-modal p{
    margin: 60px 0 40px 0;
    font-size: 18px;
    padding: 0 20px;
}

.footer-modal{
    display: flex;
    justify-content: center;
}

.lien-offre{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #1B3168;
    height: 50px;
    width: 45%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color ease-in-out 0.2s;
}

.lien-offre:hover{
    background-color: #B6A886;
}

.photo-partenaire{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1211px) {
    .contenant-slider2 {
        height: 280px;
        width: 100%;
        background: rgba(27, 49, 104, 0.1);
        margin-top: 15px;
    }
    .modal-content{
        width: 50%;
        margin: 4% auto;
    }
}

@media screen and (max-width: 900px) {
    .modal-content{
        width: 70%; 
        margin: 5% auto;
    }
}

@media screen and (max-width: 650px) {
    .modal-content {
        width: 80%;
        margin: 7% auto;
    }
    .footer-modal a{
        width: 54%;
    }
}

@media screen and (max-width: 500px) {
    .modal-content {
        width: 88%;
        margin: 9% auto;
        height: 560px;
    }
    .footer-modal a{
        width: 58%;
    }
}

@media screen and (max-width: 450px) {

    .footer-modal a{
        width: 70%;
    }
    .header-modal h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {

    .footer-modal a{
        width: 83%;
    }
    .header-modal h3 {
        font-size:27px;
    }
}





#partenariat{
    background-color: #B6A886;
}


@media screen and (max-width:992px ) {
    .partenaire.partenaire{
        margin-top: 100px;
        width: 100%;
        position: relative;
        left: 0%;
    }
    .contenant-ligne-partenaire {
        padding: 0 25px;
        margin-top: 30px;
        height: 40%;
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .redirection.redirection{
        width: 55%;
        margin: 10% 22%;
    }
}

@media screen and (max-width: 700px){
    .contenant-liste-partenaire.contenant-liste-partenaire{
        gap: 5%;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 40%;
        position: relative;
        left: 32%;
    }
}

@media screen and (max-width: 600px){
    .contenant-liste-partenaire.contenant-liste-partenaire{
        gap: 5%;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 60%;
        position: relative;
        left: 25%;
    }
}

@media screen and (max-width: 600px){
    .contenant-liste-partenaire.contenant-liste-partenaire {
        gap: 5%;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 80%;
        position: relative;
        left: 10%;
        height: 110%;
    }
    .carre-partenaire p {
        font-size: 17px;
        padding: 0px 0px 0px 30px;
    }
}


/* PARTIE MILIEUX DROITE PARTENAIRES */

.partenaire {
    margin-top: 100px;
    width: 63%;
    position: relative;
    left: 3%;
}

.contenant-partenaire{
    height: 100%;
    width: 100%;
}

.partenaire .contenant-partenaire h1{
    font-size: 36px;
    color: #1B3168;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contenant-ligne-partenaire{
    height: 0%;
    width: 100%;
}

.contenant-liste-partenaire{
    gap: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    list-style: none;
    width: 100%;
}

.carre-partenaire{
    padding: 20px 10px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 100%;
    height: 92%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-partenaire{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-partenaire img{
    border-radius: 5px;
    width: 55%;
}

.carre-partenaire h2{
    color: #1B3168;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte-partenaire{
    height: 60px;
    overflow: auto;
}

.carre-partenaire p{
    font-size: 17px;
    padding: 0 9px;
}

.redirection{
    margin: 10% 25%;
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1B3168;
    font-size: 17px;
    border-radius: 5px;
    transition: background-color ease-in-out 0.2s;
}

.redirection:hover{
    background-color: #B6A886;
}

/* //////////// FIN CONTENANT PARTENAIRE ///////  */