@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;900&display=swap%27');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}


.fond_gris {
    width: 100%;
    height: 55px;
    background: #EFEDED;
}

.fond_bleu {
    width: 100%;
    height: 56px;
    top: 55px;
    left: 0;
    background: #1B3168;
}

.fond_logo {
       width: 244px;
       position: absolute;
       margin-left: 9.4%;
       z-index: 1;
       top: 0;
}


.logo_st_vincent img{
    width: 100%;
    height: 100%;
    z-index: 2;
}


.navbar_elements {
    margin-left: 0%;
    text-align: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: #1B3168;
    z-index: 10;
    text-decoration: none;
    display:flex;

}.navbar_elements li{
    width: 150px;
    cursor: pointer;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_elements li:active{
    background-color: #B6A886;
}
.navbar_elements a{
    text-decoration:none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 56px;
}


.active{
    background-color: #B6A886;
}

.page-accueil{
    display:flex;
}

.info{
    
    width: 245px;
    height: 100%;
    margin-left: 12.4%;
}

.accueil{
    display: flex;
    gap: 3px;
    margin-top: 40px;
}


.homelogo img{
    
    width: 22px;
    height: 21px;
    left: 8px;
    top: 35px;

}

.arrow{
    top: 4px;
    position: relative;
}

.arrow img{
    
    width: 14px;
    height: 14px;
    
}

.info h2{
    font-size: 20px;
    line-height: 24px;
    color: #B6A886;
    font-family: 'Montserrat';
    width: 100%;
    
    top: 15px;
}


.info h3{
    width: 73px;
    height: 24px;
    left: 55px;
    top: 36PX;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B6A886;
}

.info span{
    color:#1B3168;
}
.titre1{
    
    margin-top: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    width: 245px;
    height: 40px;
    
}


.raccourci1{
    width: 245px;
    height: 30px;
    display: flex;

}

.raccourci1 img{
    
    width: 12px;
    margin-top: 2px;
    height: 12px;
}


.raccourci1 p{
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.raccourci2{
    width: 245px;
    height: 30px;
    display: flex;
    
}

.raccourci2 img{
    
    width: 12px;
    margin-top: 3px;
    height: 12px;
}


.raccourci2 p{
    
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.titre2{

    width: 245px;
    height: 30px;
    margin-top: 25px;
}

.info1{
    width: 245px;
    height: 30px;
    top: 230px;
    display:flex;
    margin-top:15px;
}



.info1 img{
    width: 12px;
    margin-top: 3px;
    height: 12px;

}

.info1 p{
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.info2{
    width: 245px;
    height: 30px;
    top: 253px;
    display:flex;
}


.info2 img{
    width: 12px;
    margin-top: 3px;
    height: 12px;

}

.info2 p{
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.info3{
    width: 245px;
    height: 30px;
    top: 274px;
    display:flex;
}


.info3 img{
    width: 12px;
    margin-top: 3px;
    height: 12px;

}

.info3 p{
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.titre3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    width: 245px;
    height: 40px;
    margin-top: 40px;

    
}

.partenaires{
    background-color: #1B31681A;
    height: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5px;
}


.leftarrow{
    width:20px;
    height:20px;
    cursor:pointer;
}

.leftarrow img{
    rotate:180deg;
}

.rightarrow{
   width:20px;
   height:20px;
  cursor:pointer;
}

.discover{
    
    color: black;
    top: 225px;
    font-size: 14px;
    text-decoration: underline;
    right: 25px;
    
}

.partie-droite{
    float: right;
    width: 70%;
    margin-left: 50px;
}

.bienvenue{
    width: 85%;
    background-color: #D9D9D9;
    width: 875px;
    height: 143px;
    margin-top: 80px;

}

.bienvenue h2{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-left: 15px;
    top: 150px;
    color: #1B3168;


}

.bienvenue p{
    width: 55%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 15px;
    
}

.bienvenue span{
    color:#1B3168;
    text-decoration:underline;
}


.offre-billeterie h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    top: 20px;
    color: #000000;
}

.offre1{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 875px;
    height: 199px;
    top: 40px;
    background: #EFEDED;
}
.haut-de-page{
    display: flex;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 3px;
}

.btn-offre{
    background-color: #1B3168;
    width: 146px;
    border-radius: 7px;
    height: 22px;
    margin: auto 5px;
    position: relative;
    margin-left: 15px;
    color:#FFFF;
    text-align:center;

}
.btn-offre p{
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 13px;
    display: inline;
}
.date-offre{
    justify-content: center;
    margin: auto 5px;
}
.contenu-offre{
    padding: 15px;
}

.en-savoir-plus{
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 80%;
    cursor:pointer;
}


.en-savoir-plus img{
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

.en-savoir-plus p{
    font-size:14px;
}

.racourcileonidas{
    width: 200px;
}

.offre2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 875px;
    height: 199px;
    background: #EFEDED;
}

.en-savoir-plus2{
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 80%;
    margin-top: 5%;
    cursor:pointer;
}

.en-savoir-plus2 img{
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

.en-savoir-plus2 p{
    font-size:14px;
}

.section_droite{
    position: absolute;
    left: 30%;
}

.offre3{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 875px;
    height: 199px;
    margin-top: 40px;
    background: #EFEDED;

}

.en-savoir-plus3{
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 80%;
    margin-top: 5%;
    cursor:pointer;
}

.en-savoir-plus3 img{
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

.en-savoir-plus3 p{
    font-size:14px;
}

.btn-offres{
    background: #1B3168;
    border-radius: 7px;
}

.btn-offres p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;


}

.btn-offres img{


}

.footer{
    background-color: #B6A886;
    position: bottom;
}

.fond_gris {
    position: absolute;
    width: 100%;
    height: 111px;
    left: 0;
    top: 0px;
    background: #EFEDED;
}

.fond_logo {
    position: absolute;
    width: 244px;
    height: 111px;
    left: 0;
    top: 0;
    background: #fff;
    margin-left: 179px;
    z-index: 1;
}

.logo_st_vincent {
    position: absolute;
    width: 225px;
    height: 117px;
    left: 9px;
    top: -19px;

    background-image: url(img/logosv.png);
    z-index: 2;
    margin: 20px 11px;
}

.fond_bleu {
    position: absolute;
    width: 1535px;
    height: 56px;
    top: 55px;
    left: 0;
    background: #1B3168;
}

.navbar_elements {
    position: absolute;
    left: 422px;
    text-align: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: #1B3168;
    z-index: 10;
    text-decoration: none;
    gap:30px;
    display:flex;

}

.navbar_elements:active{
    background-color: #B6A886;
}

#accueil {
    height: 56px;
    width: 139px;
    cursor: pointer;
    position: absolute;
}

#accueil a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}


#partenariat {
    cursor: pointer;
    height: 56px;
    position: absolute;
    width: 139px;
    left: 139px;
}

#partenariat a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}


#billeterie {
    cursor: pointer;
    height: 56px;
    position: absolute;
    width: 139px;
    left: 278px;
    background: #1B3168;
}

#billeterie a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}


#contact {
    cursor: pointer;
    height: 56px;
    position: absolute;
    width: 139px;
    left: 417px;
    background: #1B3168; 
}

#contact a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.active{
    background-color: #B6A886;
}


        /*corp de la page partenariat*/

.section_droite{
    margin-top: -45%;
    margin-left: -25%;
}

.soustitre{
    font-size: 150%;
    margin-top: 6%;
    margin-left: 30%;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.fondgris {
    position: relative;
   width: 60%;
   height: 250px;
   margin: auto;
   background-color: #EFEDED;
   margin-left: 30%;
   margin-top: 2%;
}

.imgnocibe{
    width: 30%;
    margin-top: 9%;
}

.nocibe{
    font-size: 150%;
    font-weight: 1000;
    margin-left: 35%;
    margin-top: -10%;
}

.txtnocibe{
    margin-left: 35%;
    margin-top: 5%;

}

.nike{
    font-size: 150%;
    font-weight: 1000;
    margin-left: 35%;
    margin-top: -32%;
}

.txtnike{
    margin-left: 35%;
    margin-top: 5%;
}

.imgnike{
    width: 30%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 2%;
}

.imgleonidas{
    width: 20%;
    margin-top: 5%;
    margin-left: 5%;
}

.leonidas{
    font-size: 150%;
    font-weight: 1000;
    margin-left: 35%;
    margin-top: -20%;
}

.decouvrir-part {
  background-color: #1B3168;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.phrasefin{
    font-weight: 300;
}











