@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}


.fond_gris {
    position: absolute;
    width: 100%;
    height: 111px;
    left: 0;
    top: 0px;
    background: #EFEDED;
}

.fond_bleu {
    position: absolute;
    width: 100%;
    height: 56px;
    top: 55px;
    left: 0;
    background: #1B3168;
}

.fond_logo {
    position: relative;
    width: 244px;
    height: 100%;
    left: 0;
    background: #fff;
    margin-left: 9.4%;
    z-index: 1;
}


.logo_st_vincent img{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.navbar_elements {
    position: absolute;
    margin-left: calc(9.4% + 244px);
    text-align: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: #1B3168;
    z-index: 10;
    text-decoration: none;
    display:flex;

}.navbar_elements li{
    width: 150px;
    cursor: pointer;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_elements li:active{
    background-color: #B6A886;
}
.navbar_elements a{
    text-decoration:none;
    color: #fff;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 56px;
}


.active{
    background-color: #B6A886;
}

.info{
    position: absolute;
    width: 245px;
    height: 100%;
    display: flex;
    margin-top: 120px;
    margin-left: 9.4%;
}




.homelogo img{
    position: absolute;
    width: 22px;
    height: 21px;
    left: 8px;
    top: 35px;

}

.arrow img{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 35px;
    top: 40px;
}

.info h2{
    font-size: 20px;
    line-height: 24px;
    color: #B6A886;
    font-family: 'Montserrat';
    width: 100%;
    position: absolute;
    top: 15px;
}


.info h3{
    position: absolute;
    width: 73px;
    height: 24px;
    left: 55px;
    top: 36PX;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B6A886;
}

.info span{
    color:#1B3168;
}
.titre1{
    position: absolute;
    top: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    width: 245px;
    height: 40px;
    
}


.raccourci1{
    width: 245px;
    height: 30px;
    top: 125px;
    position: absolute;

}

.raccourci1 img{
    position: absolute;
    width: 12px;
    top: 5px;

}

.raccourci1 p{
    position: absolute;
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.raccourci2{
    width: 245px;
    height: 30px;
    top: 150px;
    position: absolute;
}

.raccourci2 img{
    position: absolute;
    width: 12px;
    top: 5px;
}


.raccourci2 p{
    position: absolute;
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.titre2{
    position: absolute;
    top: 171px;
    width: 245px;
    height: 30px;
}

.info1{
    width: 245px;
    height: 30px;
    position: absolute;
    top: 230px;
}



.info1 img{
    position: absolute;
    width: 12px;
    top: 5px;

}

.info1 p{
    position: absolute;
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.info2{
    width: 245px;
    height: 30px;
    position: absolute;
    top: 253px;
}


.info2 img{
    position: absolute;
    width: 12px;
    top: 5px;

}

.info2 p{
    position: absolute;
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.info3{
    width: 245px;
    height: 30px;
    position: absolute;
    top: 274px;
}


.info3 img{
    position: absolute;
    width: 12px;
    top: 5px;

}

.info3 p{
    position: absolute;
    height: 17px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-size: 14px;
}

.titre3{
     position: absolute;
    top: 336px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    width: 245px;
    height: 40px;

    
}

.partenaires{
    width: 245px;
    top: 395px;
    position: absolute;
    background-color: #1B31681A;
    height: 220px;
}

.partenaires img{
    position: absolute;
    top: 24px;
    right: 36px;
}

.partenaires p{
    position: absolute;
    color: black;
    top: 225px;
    font-size: 14px;
    text-decoration: underline;
    right: 25px;
}

.leftarrow{
    right: 181px;
    position: absolute;
    top: 64px;
    cursor:pointer;
}

.rightarrow{
    position: absolute;
    left: 275px;
    top: 64px;
    cursor:pointer;
}

.partie-droite{
    float: right;
    width: 70%;
}

.bienvenue{
    width: 85%;
    background-color: #D9D9D9;
    width: 875px;
    height: 143px;
    margin-top: 150px;

}

.bienvenue h2{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 15px;
    top: 150px;
    color: #1B3168;
    position: absolute;


}

.bienvenue p{
    width: 55%;
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 60px;
    margin-left: 15px;
    
}

.bienvenue span{
    color:#1B3168;
    text-decoration:underline;
}


.offre-billeterie h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    top: 20px;
    color: #000000;
}

.offre1{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 875px;
    height: 199px;
    top: 40px;
    background: #EFEDED;
}
.hautdepage{
    display: flex;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 3px;
}

.btn-offre{
    background-color: #1B3168;
    width: 146px;
    border-radius: 7px;
    height: 22px;
    margin: auto 5px;
    position: relative;
    margin-left: 15px;
    color:#FFFF;
    text-align:center;

}
.btn-offre p{
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 13px;
    display: inline;
}
.date-offre{
    justify-content: center;
    margin: auto 5px;
}
.contenu-offre{
    padding: 15px;
}

.en-savoir-plus{
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 80%;
    margin-top: 7%;
    cursor:pointer;
}


.en-savoir-plus img{
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

.en-savoir-plus p{
    font-size:14px;
}



.offre2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 875px;
    height: 199px;
    margin-top: 80px;
    background: #EFEDED;
}

.en-savoir-plus2{
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 80%;
    margin-top: 5%;
    cursor:pointer;
}

.en-savoir-plus2 img{
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

.en-savoir-plus2 p{
    font-size:14px;
}



.offre3{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 875px;
    height: 199px;
    margin-top: 40px;
    background: #EFEDED;

}

.en-savoir-plus3{
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 80%;
    margin-top: 5%;
    cursor:pointer;
}

.en-savoir-plus3 img{
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

.en-savoir-plus3 p{
    font-size:14px;
}