@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;900&display=swap%27');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.fond_gris {
    position: absolute;
    width: 100%;
    height: 111px;
    left: 0;
    top: 0px;
    background: #EFEDED;
}

.fond_logo {
    position: absolute;
    width: 244px;
    height: 111px;
    left: 0;
    top: 0;
    background: #fff;
    margin-left: 179px;
    z-index: 1;
}

.logo_st_vincent {
    position: absolute;
    width: 225px;
    height: 117px;
    left: 9px;
    top: -19px;

    background-image: url(img/logosv.png);
    z-index: 2;
    margin: 20px 11px;
}

.fond_bleu {
    position: absolute;
    width: 1535px;
    height: 56px;
    top: 55px;
    left: 0;
    background: #1B3168;
}

.navbar_elements {
    position: absolute;
    left: 422px;
    text-align: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: #1B3168;
    z-index: 10;
    text-decoration: none;
    gap:30px;
    display:flex;

}

.navbar_elements:active{
    background-color: #B6A886;
}

#accueil {
    height: 56px;
    width: 139px;
    cursor: pointer;
    position: absolute;
}

#accueil a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}


#partenariat {
    cursor: pointer;
    height: 56px;
    position: absolute;
    width: 139px;
    left: 139px;
}

#partenariat a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}


#billeterie {
    cursor: pointer;
    height: 56px;
    position: absolute;
    width: 139px;
    left: 278px;
    background: #1B3168;
}

#billeterie a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}


#contact {
    cursor: pointer;
    height: 56px;
    position: absolute;
    width: 139px;
    left: 417px;
    background: #1B3168; 
}

#contact a{
    text-decoration:none;
    color: #fff;
    position: relative;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.active{
    background-color: #B6A886;
}


        /*corp de la page partenariat*/



.soustitre{
    font-size: 200%;
    margin-top: 9%;
    margin-left: 35%;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.fondgris {
    position: relative;
   width: 60%;
   height: 250px;
   margin: auto;
   background-color: #EFEDED;
   margin-left: 30%;
   margin-top: 2%;
}

.imgnocibe{
    width: 30%;
    margin-top: 9%;
}

.nocibe{
    font-size: 150%;
    font-weight: 1000;
    margin-left: 35%;
    margin-top: -10%;
}

.txtnocibe{
    margin-left: 35%;
    margin-top: 5%;

}

.nike{
    font-size: 150%;
    font-weight: 1000;
    margin-left: 35%;
    margin-top: -32%;
}

.txtnike{
    margin-left: 35%;
    margin-top: 5%;
}

.imgnike{
    width: 30%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 2%;
}













